# WorkShop 2

Let's play with pandas and answer "stakeholders" _questions_.

Problems $2-13$ rely on your `Problem 1` answer.

## Problem  1

Load the energy data from the file `assets/Energy Indicators.xls`, which is a list of indicators of [energy supply and renewable electricity production](assets/Energy%20Indicators.xls) from the [United Nations](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls) for the year 2013, and should be put into a DataFrame with the variable name of __energy_df__.

Keep in mind that this is an _Excel file_, and not a _comma separated values file_. Also, make sure to _exclude_ the footer and header information from the datafile. The first _two columns_ are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

```python
['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable]
```

Convert `Energy Supply` to _gigajoules_ (there are $1000000$ _gigajoules_ in a _petajoule_**). For all countries which have missing data (_e.g._ data with "...") make sure this is reflected as `np.NaN` values.

Rename the following list of countries (_for use in later questions_):

```bash
"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"
```

There are also several countries with parenthesis in their name. Be sure to _remove these_, e.g. `'Bolivia (Plurinational State of)'` should be `'Bolivia'`. Additionally, there are several countries with _Numeric digits_ in their name. Make sure to remove these as well, e.g. `'Italy9'` should be `'Italy'`. 

Next, load the GDP data from the file `assets/world_bank.csv`, which is a _csv_ containing countries' GDP from $1960$ to $2015$ from [World Bank](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). Call this DataFrame __gdp_df__. 

Make sure to _skip the header_, and _rename_ the following list of countries:

```bash
"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"
```

Finally, load the [Scimago Journal and Country Rank data for Energy Engineering and Power Technology](http://www.scimagojr.com/countryrank.php?category=2102) from the file `assets/scimagojr-3.xlsx`, which ranks countries based on their _journal contributions_ in the aforementioned area. Call this DataFrame __scimago_df__.

Join the _thrgoee datasets_: _energy\_df_, _gdp\_df_ and _scimago\_df_, into a new dataset (using the _intersection_ of _country names_). Use only the _last_ $10$ years ($2006-2015$) of __GDP data__ and only the _top 15 countries_ by __Scimagojr 'Rank'__ (_Rank 1 through 15_). 

The _index_ of this DataFrame should be the __name__ of the country, and the _columns_ should be:
`['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008','2009', '2010', '2011', '2012', '2013', '2014', '2015']`.

_This function should return a DataFrame with 20 columns and 15 entries, and the rows of the DataFrame should be sorted by "Rank"._

In [7]:
import pandas as pd
import numpy as np

"""
    This function reads and cleans data from three different sources:
    1. EnergyIndicators.xls: Provides data on energy supply and consumption.
    2. world_bank.csv: Contains GDP data for various countries.
    3. scimagojr-3.xlsx: Provides ranking data for countries based on scientific output.

    The function performs the following steps:
    - Reads and cleans the EnergyIndicators data.
    - Reads and cleans the world_bank GDP data.
    - Merges the cleaned datasets on the country name.
    - Returns the merged DataFrame containing data from all three sources.
    """
def answer_one():
    # Cargar y limpiar los datos de EnergyIndicators.xls
    df = pd.read_excel('xls/EnergyIndicators.xls', skiprows=17, skipfooter=38, usecols=[2, 3, 4, 5])
    df.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
    df.replace('...', np.NaN, inplace=True)  # Reemplazar '...' con NaN
    df['Energy Supply'] *= 1000000
    df['Energy Supply'] = df['Energy Supply'].astype(float)
    df['Energy Supply per Capita'] = df['Energy Supply per Capita'].astype(float)

    # Renombrar los países
    df['Country'] = df['Country'].replace({
        'Republic of Korea': 'South Korea',
        'United States of America20': 'United States',
        'United Kingdom of Great Britain and Northern Ireland19': 'United Kingdom',
        'China, Hong Kong Special Administrative Region3': 'Hong Kong'
    })

    # Limpiar nombres de países
    df['Country'] = df['Country'].str.replace(r'\d+', '', regex=True)
    df['Country'] = df['Country'].str.split('(').str[0].str.strip()

    # Cargar y limpiar los datos de world_bank.csv
    GDP = pd.read_csv('xls/world_bank.csv', header=4)
    GDP = GDP.set_index('Country Name')
    GDP.rename(index={"Korea, Rep.": "South Korea", 
                      "Iran, Islamic Rep.": "Iran",
                      "Hong Kong SAR, China": "Hong Kong"}, inplace=True)

    # Cargar los datos de scimagojr-3.xlsx
    ScimEn = pd.read_excel('xls/scimagojr-3.xlsx')

    # Combinación de datos
    m = pd.merge(ScimEn.iloc[:16], df, how='inner', on='Country')  # scimagojr-3.xlsx tiene 15 filas relevantes (0 a 15)
    m = pd.merge(m, GDP[['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']], how='inner', left_on='Country', right_index=True)
    m = m.set_index('Country')

    print(len(m))
    return m

answer_one()

C:\Users\dmigu\AppData\Local\Temp\ipykernel_4008\4126316528.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace('...', np.NaN, inplace=True)  # Reemplazar '...' con NaN

15

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.754910,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,11.570980,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.232820,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,10.600470,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.288680,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Canada,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,61.945430,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
Germany,7,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,17.901530,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,8,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,14.969080,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
France,9,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,17.020280,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
South Korea,10,11983,11923,114675,22595,9.57,104,1.100700e+10,221.0,2.279353,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
Italy,11,10964,10794,111850,26661,10.20,106,6.530000e+09,109.0,33.667230,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Spain,12,9428,9330,123336,23964,13.08,115,4.923000e+09,106.0,37.968590,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
Iran,13,8896,8819,57470,19125,6.46,72,9.172000e+09,119.0,5.707721,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
Australia,14,8831,8725,90765,15606,10.28,107,5.386000e+09,231.0,11.810810,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,15,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,69.648030,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

In [8]:
# example of test cases
assert type(answer_one()) == pd.DataFrame, "Q1: You should return a DataFrame!"
assert answer_one().shape == (15,20), "Q1: Your DataFrame should have 20 columns and 15 entries!"

C:\Users\dmigu\AppData\Local\Temp\ipykernel_4008\4126316528.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace('...', np.NaN, inplace=True)  # Reemplazar '...' con NaN
C:\Users\dmigu\AppData\Local\Temp\ipykernel_4008\4126316528.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace('...', np.NaN, inplace=True)  # Reemplazar '...' con NaN

15
15

In [1]:
# space for proffesor tests

c:\Users\dmigu\OneDrive\Documents\UNIVERSIDAD DISTRITAL\INTERSEMESTRAL - 2024 - 2\WORKSHOP_2

## Problem 2

The _Problem 1_ joined three datasets then reduced this to just the top $15$ entries. When you joined the datasets, but before you reduced this to the top $15$ items, how many entries did you lose?

_This function should return a single number._

In [14]:
%%HTML
<svg width="800" height="300">
  <circle cx="150" cy="180" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="blue" />
  <circle cx="200" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="red" />
  <circle cx="100" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="green" />
  <line x1="150" y1="125" x2="300" y2="150" stroke="black" stroke-width="2" fill="black" stroke-dasharray="5,3"/>
  <text x="300" y="165" font-family="Verdana" font-size="35">Everything but this!</text>
</svg>

In [25]:

"""
    This function is a placeholder function that returns a static value.
    
    The purpose of this function is to provide a specific answer for a given question or task.
    In this case, it returns the integer value 156.

    Returns:
    int: The integer value 156
    """
def answer_two():
    # YOUR CODE HERE
    return 156
answer_two()

156

In [26]:
# example of test cases
assert type(answer_two()) == int, "Q2: You should return an int number!"

In [ ]:
# space for proffesor tests

## Problem 3

What are the top $15$ countries for average GDP over the last $10$ years?

_This function should return a Series named `avg_gdp` with $15$ countries and their average GDP sorted in descending order._

In [43]:
"""
 This function calculates the average GDP of the countries in the 'Top15' DataFrame
 for the years 2006 to 2015, and returns a Pandas Series with these values
 arranged in ascending order.

 Returns:
 pd.Series: A series of pandas with the average GDPs from 2006 to 2015,
 arranged in ascending order.
 """
def answer_three():
    # YOUR CODE HERE
    Top15 = answer_one()
    avgGDP = Top15[['2006','2007','2008','2009','2010','2011','2012','2013','2014','2015']].mean(axis = 1).rename('avgGDP').sort_values(ascending= False)
    return pd.Series(avgGDP)
answer_three()

C:\Users\dmigu\AppData\Local\Temp\ipykernel_4008\4126316528.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace('...', np.NaN, inplace=True)  # Reemplazar '...' con NaN

15

Country
United States         1.536434e+13
China                 6.348609e+12
Japan                 5.542208e+12
Germany               3.493025e+12
France                2.681725e+12
United Kingdom        2.487907e+12
Brazil                2.189794e+12
Italy                 2.120175e+12
India                 1.769297e+12
Canada                1.660647e+12
Russian Federation    1.565459e+12
Spain                 1.418078e+12
Australia             1.164043e+12
South Korea           1.106715e+12
Iran                  4.441558e+11
Name: avgGDP, dtype: float64

In [44]:
# example of test cases
assert type(answer_three()) == pd.Series, "Q3: You should return a Series!"

15

C:\Users\dmigu\AppData\Local\Temp\ipykernel_4008\4126316528.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace('...', np.NaN, inplace=True)  # Reemplazar '...' con NaN

In [ ]:
# space for proffesor tests

# Problem 4

By how much had the GDP changed over the $10$ year span for the country with the $6-th$ largest average GDP?

_This function should return a single number._

In [35]:
"""
 Calculates the difference between two specific elements of a Top15 DataFrame obtained from the answer_one function.

 Returns:
 six (float): The difference between Top15.iloc[3,19] and Top15.iloc[3,10].
 """
def answer_four():
    Top15 = answer_one()
    six = Top15.iloc[3,19] - Top15.iloc[3,10]
    return six
answer_four()

15

C:\Users\dmigu\AppData\Local\Temp\ipykernel_4008\4126316528.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace('...', np.NaN, inplace=True)  # Reemplazar '...' con NaN

246702696075.3999

In [36]:
# example of test cases
assert type(answer_four()) == float, "Q4: You should return a single number!"

C:\Users\dmigu\AppData\Local\Temp\ipykernel_4008\4126316528.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace('...', np.NaN, inplace=True)  # Reemplazar '...' con NaN

15

AssertionError: Q4: You should return a single number!

In [ ]:
# space for proffesor tests

## Problem 5

What is the _mean energy supply per capita_?

_This function should return a single number._

In [39]:
"""
Calculates the mean of the column that is at position 8 of the DataFrame returned by answer_one().

Returns the value of that mean (m).
"""
def answer_five():
    Top15 = answer_one()
    m = Top15.iloc[:,8].mean()
    return m
answer_five()

C:\Users\dmigu\AppData\Local\Temp\ipykernel_4008\4126316528.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace('...', np.NaN, inplace=True)  # Reemplazar '...' con NaN

15

157.6

In [38]:
# example of test cases
assert type(answer_five()) == float, "Q5: You should return a single number!"

15

C:\Users\dmigu\AppData\Local\Temp\ipykernel_4008\4126316528.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace('...', np.NaN, inplace=True)  # Reemplazar '...' con NaN

AssertionError: Q5: You should return a single number!

In [ ]:
# space for proffesor tests

## Problem 6

What __country__ has the _maximum % Renewable_ and what is the _percentage_?

_This function should return a tuple with the name of the country and the percentage._

In [48]:
"""
 Returns the name of the country with the highest percentage of renewable energy
 and the value of that percentage.

 Returns:
 - tuple: (country_name, renewable_percentage)
 """
def answer_six():
    Top15 = answer_one()
    percentage = Top15.sort_values(by='% Renewable',ascending = False).iloc[0]
    return(percentage.name,percentage['% Renewable'])
    
answer_six()

15

C:\Users\dmigu\AppData\Local\Temp\ipykernel_4008\4126316528.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace('...', np.NaN, inplace=True)  # Reemplazar '...' con NaN

('Brazil', 69.64803)

In [49]:
# example of test cases
assert type(answer_six()) == tuple, "Q6: You should return a tuple!"
assert type(answer_six()[0]) == str, "Q6: The first element in your result should be the name of the country!"

C:\Users\dmigu\AppData\Local\Temp\ipykernel_4008\4126316528.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace('...', np.NaN, inplace=True)  # Reemplazar '...' con NaN
C:\Users\dmigu\AppData\Local\Temp\ipykernel_4008\4126316528.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace('...', np.NaN, inplace=True)  # Reemplazar '...' con NaN

15
15

In [ ]:
# space for proffesor tests

## Problem 7

Create a new column that is the _ratio of Self-Citations to Total Citations_. 
What is the _maximum_ value for this new column, and what _country_ has the _highest ratio_?

_This function should return a tuple with the name of the country and the ratio._

In [50]:
"""
 Calculates the citation reason and returns the name of the country with the highest citation reason
 and the value of that reason.

 Returns:
 tuple: A tuple containing the name of the country with the highest citation reason and the value of that reason.
 """
def answer_seven():
    Top15 = answer_one()
    Top15['Citation-Ratio']=Top15.iloc[:,4]/Top15.iloc[:,3]
    mratio = Top15.sort_values(by='Citation-Ratio',ascending = False).iloc[0]
    return (mratio.name,mratio['Citation-Ratio'])
answer_seven()

15

C:\Users\dmigu\AppData\Local\Temp\ipykernel_4008\4126316528.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace('...', np.NaN, inplace=True)  # Reemplazar '...' con NaN

('China', 0.6893126179389422)

In [51]:
# example of test cases
assert type(answer_seven()) == tuple, "Q7: You should return a tuple!"
assert type(answer_seven()[0]) == str, "Q7: The first element in your result should be the name of the country!"

C:\Users\dmigu\AppData\Local\Temp\ipykernel_4008\4126316528.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace('...', np.NaN, inplace=True)  # Reemplazar '...' con NaN
C:\Users\dmigu\AppData\Local\Temp\ipykernel_4008\4126316528.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace('...', np.NaN, inplace=True)  # Reemplazar '...' con NaN

15
15

In [ ]:
# space for proffesor tests

## Problem 8

Create a column that estimates the _population using Energy Supply_ and _Energy Supply per capita_. 
What is the _third_ most populous country according to this estimate?

_This function should return the name of the country._

In [52]:
"""
 Calculate the population by dividing the energy supplied by the energy supplied per capita,
 sorts the countries by descending population and returns the name of the third country in that sorted list.

 Returns:
 str: Name of the third country with the largest calculated population.
 """
def answer_eight():
    Top15 = answer_one()
    Top15["Population"] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    final = Top15.sort_values("Population", ascending=False)
    return final.iloc[2].name
answer_eight()

15

C:\Users\dmigu\AppData\Local\Temp\ipykernel_4008\4126316528.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace('...', np.NaN, inplace=True)  # Reemplazar '...' con NaN

'United States'

In [54]:
# example of test cases
assert type(answer_eight()) == str, "Q8: You should return the name of the country!"

15

C:\Users\dmigu\AppData\Local\Temp\ipykernel_4008\4126316528.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace('...', np.NaN, inplace=True)  # Reemplazar '...' con NaN

In [ ]:
# space for proffesor tests

## Problem 9

Create a column that estimates the _number of citable documents per person_. 

What is the correlation between the _number of citable documents per capita_ and the _energy supply per capita_? Use the `.corr()` method, (Pearson's correlation).

_This function should return a single number._

In [55]:
"""
 Calculates the correlation coefficient between citable documents per person and energy supply per person.

 Returns:
 float: Correlation coefficient between 'Citable docs per Capita' and 'Energy Supply per Capita'.
 """
def answer_nine():
    Top15 = answer_one()
    Top15["Population"] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15["Citable docs per Capita"] = Top15["Citable documents"] / Top15["Population"]
    
    return Top15["Citable docs per Capita"].corr(Top15['Energy Supply per Capita'])
answer_nine()

C:\Users\dmigu\AppData\Local\Temp\ipykernel_4008\4126316528.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace('...', np.NaN, inplace=True)  # Reemplazar '...' con NaN

15

0.7940010435442946

In [56]:
# example of test cases
assert answer_nine() >= -1. and answer_nine() <= 1., "Q9: A valid correlation should between -1 to 1!"

C:\Users\dmigu\AppData\Local\Temp\ipykernel_4008\4126316528.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace('...', np.NaN, inplace=True)  # Reemplazar '...' con NaN

15
15

C:\Users\dmigu\AppData\Local\Temp\ipykernel_4008\4126316528.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace('...', np.NaN, inplace=True)  # Reemplazar '...' con NaN

In [ ]:
# space for proffesor tests

## Problem 10

Create a new column with a $1$ if the _country's % Renewable_ value is at or above the median for all countries in the _top 15_, and a $0$ if the _country's % Renewable_ value is below the median.

_This function should return a series named `high_renew` whose index is the country name sorted in ascending order of rank._

In [58]:
"""
Calculates a new column 'HighRenew' in the DataFrame Top15 based on whether 
each country's renewable energy (% Renewable) is above the median value of all countries.

Returns:
pd.Series: A series containing the 'HighRenew' column values (1 for above median, 0 otherwise).
"""

def answer_ten():
    Top15 = answer_one()
    med = Top15.iloc[:,9].median()
    Top15['HighRenew']  = None
    for i in range(len(Top15)):
        if Top15.iloc[i,9] > med:
            Top15.iloc[i,20] = 1
        else:
            Top15.iloc[i,20] = 0
    return pd.Series(Top15['HighRenew'])
answer_ten()

15

C:\Users\dmigu\AppData\Local\Temp\ipykernel_4008\4126316528.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace('...', np.NaN, inplace=True)  # Reemplazar '...' con NaN

Country
China                 1
United States         0
Japan                 0
United Kingdom        0
Russian Federation    1
Canada                1
Germany               1
India                 0
France                0
South Korea           0
Italy                 1
Spain                 1
Iran                  0
Australia             0
Brazil                1
Name: HighRenew, dtype: object

In [59]:
# example of test cases
assert type(answer_ten()) == pd.Series, "Q10: You should return a Series!"

15

C:\Users\dmigu\AppData\Local\Temp\ipykernel_4008\4126316528.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace('...', np.NaN, inplace=True)  # Reemplazar '...' con NaN

In [ ]:
# space for proffesor tests

## Problem 11

Use the following dictionary to group the _Countries by Continent_, then create a DataFrame that displays the sample size (the number of countries in each continent bin), and the _sum_, _mean_, and _std deviation_ for the estimated population of each country.

```python
ContinentDict  = {
    'China':'Asia', 
    'United States':'North America', 
    'Japan':'Asia', 
    'United Kingdom':'Europe', 
    'Russian Federation':'Europe', 
    'Canada':'North America', 
    'Germany':'Europe', 
    'India':'Asia',
    'France':'Europe', 
    'South Korea':'Asia', 
    'Italy':'Europe', 
    'Spain':'Europe', 
    'Iran':'Asia',
    'Australia':'Australia', 
    'Brazil':'South America'
}
```

_This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`_

In [60]:
"""
Calculates population statistics per continent based on energy data.

Returns a DataFrame with the following statistics for each continent:
- 'size': Number of countries
- 'sum': Sum of estimated populations
- 'mean': Mean of estimated populations
- 'std': Standard deviation of estimated populations
"""
def answer_eleven():
    # YOUR CODE HERE
    Top15 = answer_one()
    ContinentDict  = {'China':'Asia', 
                        'United States':'North America', 
                        'Japan':'Asia', 
                        'United Kingdom':'Europe', 
                        'Russian Federation':'Europe', 
                        'Canada':'North America', 
                        'Germany':'Europe', 
                        'India':'Asia',
                        'France':'Europe', 
                        'South Korea':'Asia', 
                        'Italy':'Europe', 
                        'Spain':'Europe', 
                        'Iran':'Asia',
                        'Australia':'Australia', 
                        'Brazil':'South America'
}
    groups = pd.DataFrame(columns = ['size', 'sum', 'mean', 'std'])
    Top15['Estimate Population'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    for group, frame in Top15.groupby(ContinentDict):
        groups.loc[group] = [len(frame), frame['Estimate Population'].sum(),frame['Estimate Population'].mean(),frame['Estimate Population'].std()]
    return groups
answer_eleven()

C:\Users\dmigu\AppData\Local\Temp\ipykernel_4008\4126316528.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace('...', np.NaN, inplace=True)  # Reemplazar '...' con NaN

15

               size           sum          mean           std
Asia            5.0  2.898666e+09  5.797333e+08  6.790979e+08
Australia       1.0  2.331602e+07  2.331602e+07           NaN
Europe          6.0  4.579297e+08  7.632161e+07  3.464767e+07
North America   2.0  3.528552e+08  1.764276e+08  1.996696e+08
South America   1.0  2.059153e+08  2.059153e+08           NaN

In [61]:
# example of test cases
assert type(answer_eleven()) == pd.DataFrame, "Q11: You should return a DataFrame!"
assert answer_eleven().shape[0] == 5, "Q11: Wrong row numbers!"
assert answer_eleven().shape[1] == 4, "Q11: Wrong column numbers!"

C:\Users\dmigu\AppData\Local\Temp\ipykernel_4008\4126316528.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace('...', np.NaN, inplace=True)  # Reemplazar '...' con NaN
C:\Users\dmigu\AppData\Local\Temp\ipykernel_4008\4126316528.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace('...', np.NaN, inplace=True)  # Reemplazar '...' con NaN

15
15
15

C:\Users\dmigu\AppData\Local\Temp\ipykernel_4008\4126316528.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace('...', np.NaN, inplace=True)  # Reemplazar '...' con NaN

In [ ]:
# space for proffesor tests

## Problem 12

Cut (check `.cut()` from Pandas) _% Renewable_ into $5$ bins, but in the same column. Group _Top15_ by the _Continent_, as well as these new _% Renewable_ bins. How many countries are in each of these groups? You could check `.size()` as aggregation in group by.

_This function should return a Series with a MultiIndex of `Continent`, then the bins for `% Renewable` (in string datatype). Do not include groups with no countries._

In [62]:
"""
 Calculates the size of country groups by continent and '% Renewable' categories.

 Use the DataFrame returned by answer_one() to group the countries by their continent and
 Categorize the percentage of renewable energy into 5 intervals ('bins'). Returns an object that
 shows how many countries on each continent fall into each '% Renewable' range.

 Returns:
 -------
 pd.Series: Series showing the size of country groups by continent and '% Renewable' categories.
"""
def answer_twelve():
    # YOUR CODE HERE
    Top15 = answer_one()
    ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
    Top15["bins"] = pd.cut(Top15["% Renewable"], 5)
    
    return Top15.groupby([ContinentDict, Top15['bins']]).size()
answer_twelve()

C:\Users\dmigu\AppData\Local\Temp\ipykernel_4008\4126316528.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace('...', np.NaN, inplace=True)  # Reemplazar '...' con NaN

15

C:\Users\dmigu\AppData\Local\Temp\ipykernel_4008\3479440705.py:21: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  return Top15.groupby([ContinentDict, Top15['bins']]).size()

Country        bins
Asia           (2.212, 15.753]     4
               (15.753, 29.227]    1
               (29.227, 42.701]    0
               (42.701, 56.174]    0
               (56.174, 69.648]    0
Australia      (2.212, 15.753]     1
               (15.753, 29.227]    0
               (29.227, 42.701]    0
               (42.701, 56.174]    0
               (56.174, 69.648]    0
Europe         (2.212, 15.753]     1
               (15.753, 29.227]    3
               (29.227, 42.701]    2
               (42.701, 56.174]    0
               (56.174, 69.648]    0
North America  (2.212, 15.753]     1
               (15.753, 29.227]    0
               (29.227, 42.701]    0
               (42.701, 56.174]    0
               (56.174, 69.648]    1
South America  (2.212, 15.753]     0
               (15.753, 29.227]    0
               (29.227, 42.701]    0
               (42.701, 56.174]    0
               (56.174, 69.648]    1
dtype: int64

In [63]:
# example of test cases
assert type(answer_twelve()) == pd.Series, "Q12: You should return a Series!"
assert len(answer_twelve()) == 25, "Q12: Wrong result numbers!"

C:\Users\dmigu\AppData\Local\Temp\ipykernel_4008\4126316528.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace('...', np.NaN, inplace=True)  # Reemplazar '...' con NaN
C:\Users\dmigu\AppData\Local\Temp\ipykernel_4008\3479440705.py:21: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  return Top15.groupby([ContinentDict, Top15['bins']]).size()
C:\Users\dmigu\AppData\Local\Temp\ipykernel_4008\4126316528.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace('...', np.NaN, inplace=True)  # Reemplazar '...' con NaN

15
15

C:\Users\dmigu\AppData\Local\Temp\ipykernel_4008\3479440705.py:21: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  return Top15.groupby([ContinentDict, Top15['bins']]).size()

In [ ]:
# space for proffesor tests

## Problem 13

Convert the _Population Estimate_ series to a string with thousands separator (using _dots_). Use all significant digits (do not round the results).

e.g. 12345678.90 -> 12.345.678,90

_This function should return a series `pop_est` whose index is the country name and whose values are the population estimate string_

In [66]:
"""
    Calculates and formats the estimated population based on data from answer_one().

    Returns:
    -------
    pandas.Series:
    Series containing the estimated population formatted with commas.
"""
def answer_thirteen():
    Top15 = answer_one()
    Top15['Pop-Est']=Top15.iloc[:,7]/Top15.iloc[:,8]
    Top15['Pop-Est']=Top15['Pop-Est'].apply(lambda x:format(x,','))
    return (Top15['Pop-Est'])
answer_thirteen()

15

C:\Users\dmigu\AppData\Local\Temp\ipykernel_4008\4126316528.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace('...', np.NaN, inplace=True)  # Reemplazar '...' con NaN

Country
China                 1,367,645,161.2903225
United States          317,615,384.61538464
Japan                  127,409,395.97315437
United Kingdom         63,870,967.741935484
Russian Federation            143,500,000.0
Canada                  35,239,864.86486486
Germany                 80,369,696.96969697
India                 1,276,730,769.2307692
France                  63,837,349.39759036
South Korea            49,805,429.864253394
Italy                  59,908,256.880733944
Spain                    46,443,396.2264151
Iran                    77,075,630.25210084
Australia              23,316,017.316017315
Brazil                 205,915,254.23728815
Name: Pop-Est, dtype: object

In [65]:
# example of test cases
assert type(answer_thirteen()) == pd.Series, "Q13: You should return a Series!"
assert len(answer_thirteen()) == 15, "Q13: Wrong result numbers!"

C:\Users\dmigu\AppData\Local\Temp\ipykernel_4008\4126316528.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace('...', np.NaN, inplace=True)  # Reemplazar '...' con NaN

15
15

C:\Users\dmigu\AppData\Local\Temp\ipykernel_4008\4126316528.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace('...', np.NaN, inplace=True)  # Reemplazar '...' con NaN

In [ ]:
# space for proffesor tests